/*----------------------------------------------------------*/
/* Main4 */

.fond-espace {
  background-image: url("../data/main4/footer-galaxy.png");
}

.container-main4 {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 100px;
}

.container-main4 h2 {
  margin: 20px;
  font-size: 64px;
  line-height: 64px;
  font-weight: 700;
  height: auto;
  text-align: center;
}

.container-main4 p {
  color: var(--color-gris);
  text-align: center;
  font-size: 19px;

  padding: 30px 150px 70px 150px;
}

.container-main4-button {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.container-main4-button button {
  border: 2px var(--color-gris);
}

#button-sign {
  font-size: 19px;
  font-weight: 700;
  background: var(--color-white);
  color: var(--color-background);
  height: 57px;
  width: 265.84px;
  text-align: center;

  border-radius: 0.5em;
}
#button-start {
  font-size: 19px;
  font-weight: 700;
  background: var(--color-background);
  color: var(--color-white);
  height: 57px;
  width: 345.25px;
  text-align: center;

  border-radius: 0.5em;
  border-style: ridge;
  border-color: var(--color-gris);
}

/* gérer les img */

.img-main4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#planete {
  position: relative;
  scale: 0.9;
  bottom: 0px;

  height: auto;
  width: auto;
}
#astrocat {
  position: absolute;
  scale: 0.9;
  bottom: -600px;

  height: auto;
  width: auto;
}
